.portfolio {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.portfolio__texts {
  width: 65%;
  max-width: 750px;
}

.portfolio__title {
  font-size: 25px;
  font-weight: 600;
}

.portfolio__description {
  margin: 20px 0px;
}

.portfolio__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .portfolio__title {
    display: none;
  }
}
