.a {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: lightgray;
}

.a-left {
  flex: 1;
}

.a-right {
  flex: 1;
  padding: 20px;
}

.a-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.a-card img {
  width: 200px;
  height: 100%;
  border-radius: 30px;
}
